<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RoutingKey" type="ExampleExchange.RoutingKey, ExampleExchange" />
  </configSections>
  <RoutingKey Name="abc">
    <Parameters>
      <Key Name="Message_Handler1" redeliverAttempts="2" redeliverDelay="4" manualAck="true" />
    </Parameters>
  </RoutingKey>
</configuration>