<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExchangeConfig" type="CLRTrigger.MyConfigSection, CLRTrigger"/>
    <section name="RoutingConfig" type="CLRTrigger.MyConfigSection, CLRTrigger"/>
  </configSections>
  <ExchangeConfig>
    <add name="PortalExchange"/>
  </ExchangeConfig>
  <RoutingConfig>
    <add name="PortalMessageHandler"/>
  </RoutingConfig>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
