<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExchangeConfig" type="ExamplePublisher.MyConfigSection, ExamplePublisher"/>
    <section name="RoutingConfig" type="ExamplePublisher.MyConfigSection, ExamplePublisher"/>
  </configSections>
  <ExchangeConfig>
    <add name="example"/>
  </ExchangeConfig>
  <RoutingConfig>
    <add name="Message_Handler1"/>
  </RoutingConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
