<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RoutingKey" type="AltitudeAccountHandlerService.RoutingKey, AltitudeAccountHandlerService"/>
  </configSections>
  <RoutingKey Name="xbill">
    <Parameters>
      <Key Name="AccountHandler" redeliverAttempts="2" redeliverDelay="4" manualAck="true"/>
    </Parameters>
  </RoutingKey>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
