<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ExchangeConfig" type="Portal.MyConfigSection, Portal" />
    <section name="RoutingConfig" type="Portal.MyConfigSection, Portal" />
    <section name="RoutingKey" type="Portal.RoutingKey, Portal" />
  </configSections>
  <ExchangeConfig>
    <add name="AltitudeExchange"/>
  </ExchangeConfig>
  <RoutingConfig>
    <add name="AltitudeMessageHandler"/>
  </RoutingConfig>
  <RoutingKey Name="abc">
    <Parameters>
      <Key Name="PortalMessageHandler" redeliverAttempts="2" redeliverDelay="4" manualAck="true"/>
    </Parameters>
  </RoutingKey>
</configuration>